.grid-container {
    display: grid;
    grid-template-columns:  auto 26% 26% 13% 13%;
    background-color: #666;
    padding: 10px;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    grid-gap: 10px;
    width: 80%;
    margin: auto;
    line-height: 1.0;
    border: solid;
    text-align: center;
}

.contents-container {
    display: grid;
    grid-template-columns:  auto 26% 26% 13% 13%;
    background-color: #666;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    grid-gap: 10px;
    width: 100%%;
    margin: auto;
    line-height: 1.0;
    text-align: center;
}

.resume-header {
    grid-column: 1/4;
    background-color: #888;
    padding: 20px;
    font-size: 30px;
    
}

.contact-information {
    grid-column: 4/6;
    background-color: #888;
    padding: 0px;
    padding-top: 20px;
    font-size: 20px;

}

.row-title {
    background-color: #999;
    border: solid;
    padding: 20px;
    font-size: 30px;
    text-align: center;

}

.profile {
    grid-column: 2/6;
    border: solid;
}

.workDiv {
    grid-column: 1/6;
    border: dotted;
    padding: 0px
}


.work-container {
    
    display: grid;
    grid-template-columns:  auto auto auto auto auto;
    background-color: #666;
    padding: 0;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    grid-gap: 10px;
    width: 100%;
    margin: auto;
    line-height: 1.0;
    border: dashed;
    border-color: blue;
    text-align: center;
}

.work-title {
    grid-column: 1/2;
    padding: 0px;
    border: dotted;
    background-color: sandybrown;
}

.work-text {
    grid-column: 2/5;
    padding: 0px;
    border: dotted;
    background-color: sandybrown;

}

.work-date {
    grid-column: 5/6;
    padding: 0px;
    border: dotted;
    background-color: sandybrown;
}


.technical {
    grid-column: 2/6;
    border: solid;
    
}

div {
    padding: 0px;
  }

.work {
    grid-column: 2/5;
    border: solid;
    background-color: #999;
    border: solid;
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

.education {
    grid-column: 2/6;
    border: solid;


}

.date {
    background-color: aliceblue;
    border: solid;
    padding: 20px;
    font-size: 30px;
    text-align: center;

}


.skills {
    background-color: #888;
    border: solid;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    
    
}

